@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-background: #f7f9fb;
  --color-on-secondary: #f8f8ff;
  --color-surface-container-low: #f0f4f7;
  --color-on-secondary-container: #455367;
  --color-on-secondary-fixed-variant: #4e5c71;
  --color-on-primary: #e0ffec;
  --color-secondary-dim: #465469;
  --color-surface-dim: #cfdce3;
  --color-on-surface-variant: #566166;
  --color-inverse-surface: #0b0f10;
  --color-on-secondary-fixed: #324054;
  --color-on-background: #2a3439;
  --color-on-primary-fixed-variant: #006948;
  --color-primary: #006c4a;
  --color-on-tertiary-container: #005a3c;
  --color-on-tertiary: #e6ffee;
  --color-inverse-primary: #7ff3be;
  --color-on-tertiary-fixed: #00452d;
  --color-surface-bright: #f7f9fb;
  --color-secondary: #526075;
  --color-on-tertiary-fixed-variant: #006544;
  --color-primary-fixed-dim: #76eab6;
  --color-on-error: #fff7f6;
  --color-primary-dim: #005f41;
  --color-on-error-container: #752121;
  --color-outline: #717c82;
  --color-on-primary-container: #005e40;
  --color-error-dim: #4e0309;
  --color-inverse-on-surface: #9a9d9f;
  --color-outline-variant: #a9b4b9;
  --color-secondary-fixed: #d5e3fd;
  --color-on-surface: #2a3439;
  --color-on-primary-fixed: #004931;
  --color-tertiary-dim: #005f40;
  --color-secondary-container: #d5e3fd;
  --color-surface: #f7f9fb;
  --color-primary-container: #85f8c4;
  --color-error-container: #fe8983;
  --color-surface-container: #e8eff3;
  --color-tertiary-container: #69f6b8;
  --color-error: #9f403d;
  --color-primary-fixed: #85f8c4;
  --color-secondary-fixed-dim: #c7d5ee;
  --color-surface-container-highest: #d9e4ea;
  --color-tertiary: #006d4a;
  --color-surface-container-high: #e1e9ee;
  --color-surface-tint: #006c4a;
  --color-tertiary-fixed: #69f6b8;
  --color-surface-variant: #d9e4ea;
  --color-tertiary-fixed-dim: #58e7ab;
  --color-surface-container-lowest: #ffffff;

  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);
  --font-label: var(--font-inter);
}

@layer base {
  :root {
    --background: #f7f9fb;
    --foreground: #2a3439;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .claymorphic-icon {
      box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.4), inset -2px -2px 4px rgba(0, 108, 74, 0.1);
  }
  .glass-panel {
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
  }
}
